.pace-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.pace-controllers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}

.pace-tag {
    display: flex;
    width: 100%;
    height: fit-content;
    text-align: start;
    margin-left: 0.5rem;
    margin-bottom: 0.25rem;
}

.pace-input {
    width: 3rem;
}