.pace-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.pace-controllers {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  width: 100%;
  padding-top: 1.25rem;
}

.pace-inputs {
  width: 9.75rem;
}
